<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<style>
		li {
			display: inline-block;
			margin-right: 10px;
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto;
		}
	</style>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container">
		<div class="p-3 text-center">
			<div class="mb-3">
				<img src="./images/horo_logo.png" width="120">
			</div>
			<div class="mb-3">
				<h1>{{ appName }}</h1>
			</div>
			<div class="mb-3">
				<p>{{ message }}</p>
			</div>
			<div class="mb-3 bg-success">
				<h2>ベスト3</h2>
			</div>
			<div class="mb-3">
				<ul>
					<li v-for="horo in getBest3" :key="horo.name">
						<img :src="horo.path" width="90">{{ horo.name }}: {{ horo.rank }}
					</li>
				</ul>
			</div>
			<div class="mb-3 bg-danger">
				<h2>ワースト3</h2>
			</div>
			<div class="mb-3">
				<ul>
					<li v-for="horo in getWorst3" :key="horo.name">
						<img :src="horo.path" width="90">{{ horo.name }}: {{ horo.rank }}
					</li>
				</ul>
			</div>
			<div class="mb-3">
				<button v-on:click="shuffle" class="btn btn-primary">シャッフル</button>
			</div>
		</div>
	</div>
	<!-- JavaScript -->
	<script src="//unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" defer></script>
	<script src="./main.js" defer></script>
</body>
</html>
